
:root {
    --primary-color: #2b43a5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    --webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 5rem;
}

/* Showcase Styling */

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("https://as2.ftcdn.net/v2/jpg/03/30/05/67/1000_F_330056743_7aZxHnQUe2xDQk5DOvhGN7jjeyzfDBvA.jpg")
    no-repeat center center/cover;
}

/* Showcase Overlay */

.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns items vertically in the middle */
    width: 100%;
    padding: 0 20px; /* Add some padding to space the content */
    height: 90px;
    z-index: 2;
}

.showcase-top .logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 30%;
}

.showcase-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
    z-index: 2;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1rem;
    margin: 0 0 2rem;
}

.showcase-content p {
    font-weight: 400;
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.25rem;
    margin: 5rem 1rem 5rem 1rem;
    padding: 2rem;
}

.showcase-content .btn-xl {
    margin-top: 7rem;
}

/* Button Styling */

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    /*   margin-top: 3rem; */
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    border-radius: 7px;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

/* Media Queries */

@media (max-width: 960px) {
    .showcase {
        height: 100vh;
    }

    .showcase-top .logo-text {
        color: var(--primary-color);
        font-family: "Roboto", sans-serif;
        --webkit-font-smoothing: antialiased;
        font-size: 38px;
        position: absolute;
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1 {
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 1rem;
        margin: 0 0 2rem;
    }

    .showcase-content p {
        font-weight: 400;
        color: #fff;
        font-size: 1.6rem;
        text-transform: uppercase;
        line-height: 1rem;
        margin: 0 0 2rem;
    }

    .btn-xl {
        font-size: 1.5rem;
        padding: 1.2rem 1.8rem;
        text-transform: uppercase;
    }
}

@media (max-width: 500px) {
    .showcase::after {
        box-shadow: inset 75px 50px 100px #000000, inset -75px -50px 100px #000000;
    }

    .showcase {
        height: 100vh;
    }

    .showcase-top .logo-text {
        font-size: 1.5rem;
        top: 30%;
        left: 15%;
        transform: translate(0);
    }

    .showcase-content h1 {
        font-size: 1.8rem;
        line-height: 1rem;
    }

    .showcase-content p {
        font-size: 1.2rem;
    }

    .btn {
        margin-right: 0.1rem;
    }

    .btn-xl {
        font-size: 1.2rem;
        padding: 1rem 1.2rem;
        text-transform: uppercase;
    }
}

/*ajouter union employee button*/

.cssbuttons-io-button {
    background: #2b43a5;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #2b43a5;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #2b43a5;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #2B43A5FF;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

